
  /* Начальные стили для элемента, который будет следовать за курсором, в нашем случае небольшой кружок */
  .follow-cursor {
    filter: drop-shadow(0 0 20px	#FFFFFF);
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #D3D3D3;
    border-radius: 50%;
    cursor: none;
    transform: translateY(-50%) translateX(-50%); /* центрируем кружок */
    position: absolute; /* задаём абсолютное позиционирование, чтобы элемент не влиял на остальные элементы и его можно было бы позиционировать следом за курсором */
    z-index: 999; /* чтобы элемент был над остальными элементами */
    pointer-events: none; /* чтобы сквозь элемент можно было взаимодействовать с элементами, находящимися под ним */
    transition: width 0.64s, height 0.64s, border-radius 0.64s, background 0.64s;
  }
  
  /* Активный класс для кружка при наведении на ссылку */
  .follow-cursor_active {
    height: 128px;
    width: 128px;
    border-width: 2px;
    background: rgba(	169, 169, 169,0.32);
    filter: drop-shadow(0 0 20px	#FFFFFF);
    cursor: none;
  }
  
  /* Скрываем декоративный элемент при ширине браузера меньше 992px */
  @media (max-width: 991.98px) {
    .follow-cursor {
      display: none;
      cursor: none;
    }
  }